{% extends "basehome.html.twig" %}
{% block head %}

  <li class="dropdown">
						<a href="#">
							Categorie
							<span class="caret"></span>
						</a>
                        
						<ul class="dropdown-menu">
                        {% for Categorie in c %}
						   <li><a  href="#">{{ Categorie.nomCategorie }}</a></li>  
                           {% endfor %}  
						</ul>
                        
                        
					</li>
                     

{% endblock %}